@import '../../Styles/_variables.scss';

.allContainer{
  @include flexSet(row, center, center);
  min-height: 100vh;
  .loginContainer{
    margin: 0 0 60px;
    
    main{
      @include flexSet(row, center, center);
      flex-direction: column;
    }
    .signupContainer{
      @include flexSet(row, center, center);
      margin-top:40px;

      .signup{
        text-decoration: none;
        color: #034C8C;
        font-weight: bold;
      }
    }
  }
}
