@import '../../Styles/_variables.scss';

.joinContainer{
    @include flexSet(row, center, center);
    min-height: 100vh;
    .inputContainer{
        header{
            .logoText{
                text-align:center;
                margin-bottom: 10px;
                color:#034C8C;
                font-family: 'Black Ops One', cursive;
                font-size: 80px;
            }
            .joinText{
                text-align:center;
                margin: 20px 0;
                font-size: 30px;
                font-weight: bold;
            }
        }

        .buttonContainer{
            @include flexSet(row, center, center);
        }

        .onlineAccount{
            @include flexSet(row, center, center);
            margin:18px 0;
            .loginLink{
                text-decoration: none;
                color: #034C8C;
                font-weight: bold;
            }
        }
        
    }
}